* {
    box-sizing: border-box;
    margin-top: 0;
}

:root {
    --primary: rgb(11, 68, 49);
    --secondary: white;
    --tertiary: black;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    text-align: center;
    background-image: linear-gradient(to right, var(--primary), rgb(34, 119, 71));
    color: var(--secondary);
}
header h1 {
    font-size: 3.5em;
}
header p {
    font-size: 2em;
}

.main-container {
    margin: 50px;  
}

.search-wrapper {
    border: 3px solid var(--tertiary);
    padding: 30px;
    width: fit-content;
    background-color: var(--primary);
}

.search-wrapper h2 {
    color: var(--secondary);
    font-size: 2em;
}
.search-wrapper span {
    color: var(--secondary);
}

.city-input {
    display: block;
    width: 100%;
    font-size: 1.2vw;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid var(--primary);
}
.submit-btn {
    background: var(--secondary);
    border: none;
    text-align: center;
    border-radius: 10px;
    color: var(--primary);
    font-size: 22px;
    outline: none;
    margin-right: 15px;
    padding: 5px;
}

.glide li{
    height: 100px;
    font-size: 100px;
}

.arrow_button {
    background: var(--primary);
    border: none;
    text-align: center;
    border-radius: 10px;
    color: var(--secondary);
    font-size: 22px;
    outline: none;
    margin-right: 15px;
    padding: 10px;
}


.map {
    height: 500px;
}
.marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
}
.marker {
    height: 30px;
    width: 30px;
}
.marker-content {
    background: #c30b82;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
}
.marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
}

html {
    height:100%;
}