
* {
    box-sizing: border-box;
    margin-top: 0;
}

:root {
    --primary: rgb(11, 68, 49);
    --secondary: rgb(235, 240, 245);
    --tertiary: black;
    --hover: rgb(34, 119, 71);
    --boxshadow: grey;
}
html {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* header start */
header {
    text-align: left;
    background-image: linear-gradient(to right, var(--primary), rgb(34, 119, 71));
    color: var(--secondary);
    border-bottom: 3px solid black;
    padding: 10px;
}
header h1 {
    font-size: 3.5em;
    margin-bottom: 0;
}
header p {
    font-size: 2em;
}

/* header end */
/* hero img */
.hero {
    background-image: url("../imgs/hero-img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-attachment: fixed;
    height: 600px;
}

.about-us-hero {
    background-color: rgba(248, 248, 248, 0.3);
    padding: 20px;
    margin-right: 50px;
    box-shadow: 5px 5px 5px var(--boxshadow);
}

.about-us-hero h2 {
    font-size: 2.2em;
    font-style: italic;
}

.about-us-hero p {
    font-weight: bold;
}

/* search container start*/

.main-container {
    display: grid;
    margin: 20px 50px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    
}

/* search form */
.search-wrapper {
    background-color: var(--primary);
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--boxshadow);
    height: fit-content;
}
.search-container {
    margin: 10px;
    display: grid;
    grid-gap: 10px 0;
}


.search-wrapper h2 {
    color: var(--secondary);
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
}
.search-wrapper span {
    color: var(--secondary);
}

.city-input {
    display: block;
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid var(--primary);
}

.drop-down-input {
    font-size: 1.5em;
}
.submit-btn {
    background: var(--secondary);
    border: none;
    text-align: center;
    border-radius: 10px;
    color: var(--primary);
    font-size: 1.5em;
    outline: none;
    padding: 5px;
}

.submit-btn:hover {
    background-color: var(--hover);
    color: var(--secondary);
}

/* search container end */

/* saved pet section */
.search-results {
    background: var(--hover);
    border-radius: 10px;
}

.search-results ul {
    padding: 10px;
    margin: 0;
}


.search-results h2 {
    color: var(--secondary);
    font-size: 2em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.savedPet-list-container {
    display: grid;
    flex-wrap: wrap;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}


.saved-petcard {
    display: grid;
    height: 400px;
    font-size: 1em;
    background-color: var(--secondary);
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--tertiary);
}

.saved-petcard h3 {
    font-size: 1em;
    margin-bottom: 0;
    font-style: oblique;
    background-color: lightgrey;
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 1px 1px 1px var(--tertiary);
    border-radius: 10px 10px 0 0;
}

.saved-petcard .save-pet-btn
{
    display: none;
}
.saved-petcard p {
    margin-bottom: 0;
}

/* saved pets end */


/* Glide carousel start */
.glider-container {
    margin: 0 50px;
    background-color: var(--hover);
    padding: 0 30px;
    border-radius: 10px;
    column-span: 2;
}
.glider-container h2 {
    text-align: center;
    color: var(--secondary);
    padding: 20px;
    font-size: 2em;
    margin-bottom: 0;
}

.glide__slide {
    height: 425px;
    background-color: var(--secondary);
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--tertiary);
    display: grid;
}

.placeholder-petCard {
    display: block;
}

.glide__slide h3 {
    font-size: 1.4em;
    margin-bottom: 0;
    font-style: oblique;
    background-color: lightgrey;
    border-bottom: 1px solid var(--tertiary);
    box-shadow: 1px 1px 1px var(--tertiary);
    border-radius: 10px 10px 0 0;
}


.glide__slide p {
    margin-bottom: 0;
    font-size: 1.4;
}

.img-container {
    display: flex;
    justify-content: center;
}
.animal-photo {
    height: 150px;
    width: 150px;
    margin: 5px 5px 0 5px;
    align-self: center;
}

.email-style {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.save-pet-btn {
    display: block;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1em;
    margin: 5px;
    border-radius: 10px;
    
}

.arrow-container {
    display: flex;
    justify-content: space-evenly;
}
.arrow_button {
    background: var(--secondary);
    border: none;
    text-align: center;
    border-radius: 10px;
    color: var(--primary);
    font-size: 22px;
    outline: none;
    padding: 10px 10px 3px 10px;
    margin-bottom: 10px;
}

.arrow_button:hover {
    border: 3px solid var(--primary);
    padding: 7px 7px 0px 7px;
}

/* Glide carousel end */

/* map start */

.map-container {
    display: grid;
    justify-content: center;
    margin: 20px 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.map-container h2 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    color: var(--primary);
}

.map {
    width: 50vw;
    height: 60vh;
    position: relative;
}
.marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
}
.marker {
    height: 30px;
    width: 30px;
}
.marker-content {
    background: #c30b82;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
}
.marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
}

/* map end */
/* footer start */
.footer {
    text-align: center;
    background-image: linear-gradient(to right, var(--primary), rgb(34, 119, 71));
    color: var(--secondary);
    border-top: 3px solid black;
    margin-top: 20px;
    padding: 20px;
}
.footer h3 {
    text-align: end;
    font-size: 2em;
    margin: 0;
}
.footer p {
    text-align: end;
}

/* footer end */

/* media query start*/

/* media query for smaller desktop screens*/
@media screen and (max-width: 1024px) {
    header {
        text-align: center;
    }

    .main-container {
        display: inline;
    }
    .search-wrapper {
        margin: 0 20px;
    }
    
    .hero {
        justify-content: center;
    }
    .about-us-hero {
        text-align: center;
        margin: 0;
        padding: 5px;
    }
    .search-results {
        margin: 0 20px;
    }
    .savedPet-list-container {
        grid-template-columns: repeat(2, 1fr);
        }
    .glider-container {
        margin: 0 20px;
    }



    .map {
        width: 700px;
        height: 700px;
    }
}



@media screen and (max-width: 980px) {
    .map {
        width: 600px;
        height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .savedPet-list-container {
        grid-template-columns: 1fr;
    }
    .hero {
        height: 400px;
    }
    .glide__slide p {
        margin-bottom: 0;
        font-size: 0.7em;
    }
    .glide__slide a {
        font-size: 0.7em;
    }
    .map {
        width: 400px;
        height: 400px;
    }

}

@media screen and (max-width: 500px) {
    body {
        font-size: 3.2vw;
    }
    .hero {
        height: 300px;
    }
    .glide__slide{
        height: 550px;
    }
    .map {
        width: 300px;
    }
}
@media screen and (max-width: 360px) {
    .map {
        width: 200px;
    }
}
