* {
    box-sizing: border-box;
    margin-top: 0;
}

:root {
    --primary: rgb(11, 68, 49);
    --secondary: white;
    --tertiary: black;
    --hover: rgb(34, 119, 71);
}
html {
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* header start */
header {
    text-align: center;
    background-image: linear-gradient(to right, var(--primary), rgb(34, 119, 71));
    color: var(--secondary);
    border-bottom: 3px solid black;
}
header h1 {
    font-size: 3.5em;
}
header p {
    font-size: 2em;
}

/* header end */

/* search container start*/

.main-container {
    margin: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    grid-column-start: 0;
    grid-column-end: 1;
    
}

.search-container {
    margin: 10px;
    display: grid;
    grid-gap: 10px 0;

}
.search-wrapper {
    background-color: var(--primary);
    padding: 10px;
    display: block;
    border-radius: 10px;
}

.search-wrapper h2 {
    color: var(--secondary);
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
}
.search-wrapper span {
    color: var(--secondary);
}

.city-input {
    display: block;
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: 1px solid var(--primary);
}

.drop-down-input {
    font-size: 1.5em;
}
.submit-btn {
    background: var(--secondary);
    border: none;
    text-align: center;
    border-radius: 10px;
    color: var(--primary);
    font-size: 1.5em;
    outline: none;
    padding: 5px;
}

.submit-btn:hover {
    background-color: var(--hover);
    color: white;
}

.search-results {
    background: var(--hover);
    border-radius: 10px;
}

.search-results h2 {
    color: var(--secondary);
    font-size: 2em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

/* search container end */
/* Glide carousel start */

.glider-container {
    margin: 0 50px;
    background-color: var(--hover);
    padding: 0 30px;
    border-radius: 10px;
}
.glider-container h2 {
    text-align: center;
    color: var(--secondary);
    padding: 20px;
    font-size: 2em;
}

.glide__slide{
    height: 300px;
    font-size: 2em;
    background-color: var(--secondary);
    border: 3px solid black;
    text-align: center;
}
.arrow-container {
    display: flex;
    justify-content: space-evenly;
}
.arrow_button {
    background: var(--secondary);
    border: none;
    text-align: center;
    border-radius: 10px;
    color: var(--primary);
    font-size: 22px;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
}

.arrow_button:hover {
    border: 3px solid var(--primary);
    padding: 7px;
}

/* Glide carousel end */
/* map start */

.map-container {
    display: grid;
    justify-content: center;
    background: radial-gradient(var(--primary), var(--hover));
    margin: 20px 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
}

.map-container h2 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    color: var(--secondary);
}

.map {
    width: 50vw;
    height: 60vh;
    position: relative;
}
.marker-icon {
    background-position: center;
    background-size: 22px 22px;
    border-radius: 50%;
    height: 22px;
    left: 4px;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: rotate(45deg);
    width: 22px;
}
.marker {
    height: 30px;
    width: 30px;
}
.marker-content {
    background: #c30b82;
    border-radius: 50% 50% 50% 0;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    width: 30px;
}
.marker-content::before {
    background: #ffffff;
    border-radius: 50%;
    content: "";
    height: 24px;
    margin: 3px 0 0 3px;
    position: absolute;
    width: 24px;
}

/* map end */
/* footer start */
.footer {
    text-align: center;
    background-image: linear-gradient(to right, var(--primary), rgb(34, 119, 71));
    color: var(--secondary);
    border-top: 3px solid black;
    margin-top: 20px;
    padding: 20px;
}
.footer h3 {
    text-align: end;
    font-size: 2em;
    margin: 0;
}
.footer p {
    text-align: end;
}